.close-animation{
    animation: close-animation 0.3s ease-in-out forwards;
}
@keyframes close-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
    display: none;
  }
}
