<header
  class="flex sm:grid grid-cols-2 [&>*]:flex justify-between p-2 px-4 shadow-yn bg-header max-h-52 transition-all duration-300 overflow-hidden"
  [class.small-screen-scroll-effect]="scrollService.isDown()"
>
  <div class="flex items-center gap-2">
    <button
      class="md:hidden max-h-min flex items-center text-center"
      (click)="UiStateService.toggleSideNav()"
    >
      <i class="pi pi-bars text-2xl my-auto h-full"></i>
    </button>
    <h1 class="ms-1 hidden sm:block">
      <a
        href="/"
        aria-label="Home"
        routerLink="/"
        routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img
          src="/placeholders/logo-placeholder.png"
          class="max-h-8"
          alt="My app logo"
        />
      </a>
    </h1>
  </div>

  <!-- <p-floatlabel variant="on" >
    <input
      pInputText
      id="on_label"
      [(ngModel)]="searchInput"
      autocomplete="off"
      class="p-2 shadow w-full border border-gray-500 rounded-lg"
    />
    <label for="on_label">On Label</label>
  </p-floatlabel> -->

  <!-- <p-inputgroup styleClass="border1 border-gray-500 rounded-lg">
    <p-floatlabel variant="on" >
    <input pInputText [(ngModel)]="searchService.input" class="bg-transparent" placeholder="search"  /> 
    <p-inputgroup-addon>
      <p-button
        icon="pi pi-search"
        severity="secondary"
        variant="text"
        class="h-full"
        
      />
    </p-inputgroup-addon>

    </p-floatlabel>
  </p-inputgroup> -->

  <div class="justify-end gap-3 items-center">
    <a
      href="/add-property"
      (click)="addProperty($event)"
      class="animate-pulse cursor-pointer"
    >
      Add Property
    </a>

    <!-- login -->
    @if(authService.isAuthenticated()){ }@else{
    <p-button
      class="justify-end"
      styleClass=" !rounded-sm btn-primary font-bold"
      size="small"
      label="Login"
      (click)="authService.openDieloag()"
    />
    <!-- <p-button
      class="justify-end"
      styleClass=" !rounded-sm btn-purple"
      size="small"
      label="Sign Up"
      (click)="authService.openDieloag()"
    /> -->
    }

    <!-- user icon/user image -->
    @if(authService.isAuthenticated()){
    <!-- make text color change -->

    <button
      (click)="menu.toggle($event)"
      aria-label="User"
      class="cursor-pointer flex items-center gap-2"
    >
      <p>{{ authService.user()?.firstName }}</p>
      <!-- <img
      src="{{ authService.authState().user?.image ?? '/placeholders/user.jpg' }}"
      alt="user image"
      class="w-8 h-8 rounded-full"
      srcset="" -->

      <img
        src="/placeholders/user.jpg"
        class="w-8 h-8 rounded-full"
        alt="user image"
      />
    </button>
    }@else{
    <button
      class="cursor-pointer px-2 opa"
      aria-label="User"
      (click)="menu.toggle($event)"
    >
      <i class="pi pi-user !text-xl"></i>
    </button>
    }
  </div>
  <p-menu
    #menu
    [model]="items"
    [popup]="true"
    styleClass="mt-2 right-2 w-fit"
  />

  <!-- <nav>
    <ul class="flex gap-4">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav> -->
</header>
<p-progressbar
  [class.opacity-0]="!loadingService.loading()"
  [class.opacity-100]="loadingService.loading()"
  class="transition-opacity"
  mode="indeterminate"
  [style]="{ height: '1px' }"
/>
