<figure class="flex flex-col">
  <img
    class="w-full rounded-3xl aspect-video"
    [src]="data()?.previewImageLink ?? '/placeholders/room.jpg'"
    alt="property-picture"
  />
  <figcaption class="py-2">
    <h4 class="md:text-lg">
      {{ data()?.title }} in {{ data()?.location?.regionName }}
    </h4>
    <div class="flex items-center gap-2 text-xs text-secondary/70">
      <p class=" uppercase">
        {{ data()?.price | currency : "EGP " }}
      </p>
      <p class="font-light">
      {{ data()?.description }}
      </p>
    </div>
  </figcaption>
</figure>
