<aside
  class="fixed md:static w-full md:w-fit z-50 md:flex flex-col gap-4 border-e border-gray-950/30 md:border-e-0 md:shadow h-full  md:bg-sidenav -translate-x-full md:translate-x-0 transition-none duration-300 transition-[translate]!"
  
   [class]="{
    'translate-x-0!': UiStateService.sideNavOpen(),
    'bg-black/40!': UiStateService.sideNavOpen(),
    'bg-transparent!':  !UiStateService.sideNavOpen(),
  }"
  (click)="UiStateService.closeSideNav()"
>
  <nav class="w-fit min-w-2/3 h-full md:w-full bg-sidenav md:bg-transparent" (click)="$event.stopPropagation()">
    <p-menu
      [model]="userNavItems"
      class="flex justify-center [&_.p-menu-separator]:border-none"
      styleClass="w-full md:w-60  bg-transparent border-none"
    >
      <ng-template #submenuheader let-item>
        <span class="text-primary font-bold">{{ item.label }}</span>
      </ng-template>

      <ng-template #item let-item>
        <a
          [routerLink]="item.routerLink"
          pRipple
          class="flex items-center p-menu-item-link"
        >
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
          <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
          <span
            *ngIf="item.shortcut"
            class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1"
          >
            {{ item.shortcut }}
          </span>
        </a>
      </ng-template>
    </p-menu>

    <!-- admin nav -->
    <!-- <p-panelmenu
      *ngIf="authService.authState().user?.roles!.includes('Admin')"
      [model]="adminNavItems"
      styleClass="w-full md:w-60 "
      
    >
      <ng-template #item let-item>
        <ng-container *ngIf="item.route; else urlRef">
          <a
            [routerLink]="item.route"
            class="flex align-items-center cursor-pointer text-color px-3 py-2"
          >
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
          </a>
        </ng-container>
        <ng-template #urlRef>
          <a
            *ngIf="item.url; else noLink"
            [href]="item.url"
            class="flex align-items-center cursor-pointer text-color px-3 py-2"
          >
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
          </a>
          <ng-template #noLink>
            <span
              class="flex items-center cursor-pointer text-surface-700 dark:text-surface-0 px-4 py-2"
            >
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
              <i
                *ngIf="item.items"
                class="pi pi-angle-down text-primary ml-auto"
              ></i>
            </span>
          </ng-template>
        </ng-template>
      </ng-template>
    </p-panelmenu> -->
  </nav>
</aside>
