<section class="mb-10 max-w-3xl mx-auto">
  <h2 class="text-xl lg:text-2xl font-bold text-primary mb-2">
    Where is your property?
  </h2>
  <p class="text-secondary/70">
    Property's location will be used for search and some Lorem ipsum dolor sit
    amet consectetur.
  </p>
  <p class="text-yellow-500 bg-yellow-500/10 p-2 mt-2 text-sm rounded">
    only [ El Mansoura, Dakahlia, Egypt ] are supported <br />
    <br />
    -- Google's places API is not supported YET --
  </p>
</section>



<section class="max-w-3xl mx-auto h-full">

<app-search-location class="[&_input]:shadow [&_input]:shadow-secondary/10 w-full block px-0.5"/>

 </section>
