<h2 class="text-xl lg:text-2xl font-bold text-primary mb-10 max-w-3xl mx-auto">
  Enter property info
</h2>

<section class="grid grid-cols-1 gap-4 max-w-3xl mx-auto h-fit">
  <!-- enter title -->
  <div class="flex flex-col gap-2">
    <label for="title">Title</label>
    <input
      pInputText
      #title
      id="title"
      aria-describedby="price-help"
      [value]="addPropertyService.info().title"
      (input)="updateTitle(title.value!)"
    />
    <!-- <small id="username-help">Enter your username to reset your password.</small> -->
  </div>

  <!-- Price -->
  <div class="flex flex-col gap-2">
    <label for="price">Price</label>
    <input
      pInputText
      #price
      type="number"
      id="price"
      min="0"
      aria-describedby="price-help"
      [value]="addPropertyService.info().price"
      (input)="updatePrice(price.value)"
    />
  </div>

  <!-- description -->
  <div class="flex flex-col gap-2">
    <label for="description">Description</label>
    <input
      pInputText
      #description
      id="description"
      aria-describedby="description-help"
      [value]="addPropertyService.info().description"
      (input)="updateDescription(description.value!)"
    />
  </div>

  <!-- Address Description -->
  <div class="flex flex-col gap-2">
    <label for="addressDescription">Address Description</label>
    <input
      pInputText
      #addressDescription
      id="addressDescription"
      aria-describedby="addressDescription-help"
      [value]="addPropertyService.info().addressDescription"
      (input)="updateAddressDescription(addressDescription.value!)"
    />
  </div>

  <!-- Thumbnail -->
  <div class="flex flex-col gap-2">
    <label for="username">Thumbnail</label>
    <div
      class="relative cursor-pointer hover:opacity-80 rounded-4xl overflow-hidden"
    >
      <input
        type="file"
        #thumbnailVar
        id="username"
        aria-describedby="username-help"
        class="absolute inset-0 w-full h-full opacity-0 cursor-pointer"
        (input)="updateThumbnail(thumbnailVar.files![0])"
      />
      <img
        [src]="thumbnail()??'/placeholders/image.webp'"
        alt="thumbnail"
        class="w-full"
      />
      <button
        class="pointer-events-none absolute border border-yellow-100/50 text-primay bg-secondary top-1/2 left-1/2 shadow-black drop-shadow-lg -translate-x-1/2 -translate-y-1/2 py-2 px-6 rounded-full z-101"
      >
        Add
      </button>
    </div>
  </div>
<p-divider />
  <!-- Images -->
  <div class="flex flex-col gap-2">
    <label for="username"></label>
    <div
      class="relative cursor-pointer hover:opacity-80 rounded-4xl overflow-hidden"
    >
      <input
        type="file"
        multiple
        #imagesVar
        id="username"
        aria-describedby="username-help"
        class="absolute inset-0 w-full h-full opacity-0 cursor-pointer"
        (input)="updateImages(imagesVar.files!)"
      />
      <button
        class="pointer-events-none border block mx-auto border-yellow-100/50 text-primay bg-secondary shadow-black drop-shadow-lg py-2 px-6 rounded-full z-101"
      >
        Add more images
      </button>
    </div>
    <p-carousel
      [value]="images()"
      [numVisible]="3"
      [numScroll]="1"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-image #item>
        <div
          class="border border-gray-200/30 dark:border-gray-700/30 rounded m-2 p-4"
        >
          <div class="mb-4">
            <div class="relative mx-auto">
              <img
                [src]="image.image"
                alt="extra image"
                class="w-full rounded-border aspect-video object-cover"
              />
              <p-tag
                [value]="'1'"
                [severity]="'danger'"
                class="absolute"
                styleClass="dark:!bg-surface-900"
                [ngStyle]="{ 'left.px': 5, 'top.px': 5 }"
              />
            </div>
          </div>
          <div class=" font-medium flex justify-between">
            <button class="text-sm text-secondary/70">Image {{ image.index +1 }}</button>
            <p-button label="Remove" variant="outlined" severity="danger" styleClass="py-0.5 text-sm " (click)="removeImage(image.index)"/>

          </div>
 
        </div>
      </ng-template>
    </p-carousel>
  </div>
</section>
