<div
  class="fixed top-0 left-0 right-0 bottom-0 flex items-center justify-center w-full h-full z-100 "
  [class.pointer-events-none]="!authService.dialogVisible()"
  (click)="closeDialog()"
>
  <p-dialog
    maskStyleClass="backdrop-blur-sm"
    [dismissableMask]="true"
    [visible]="authService.dialogVisible()"
    styleClass="!border-0 !bg-transparent"
    (click)="$event.stopPropagation()"
  >
    <ng-template #headless>
      <form
        #form="ngForm"
        (ngSubmit)="submit(form)"
        class="flex flex-col px-8 py-8 gap-6 rounded-2xl"
        style="
          border-radius: 12px;
          background-image: radial-gradient(
            circle at left top,
            var(--p-primary-bg),
            var(--p-secondary-bg)
          );
        "
      >
        <!-- <svg
                width="31"
                height="33"
                viewBox="0 0 31 33"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="block mx-auto"
            >
                <path
                    d="..."
                    fill="var(--p-primary-color)"
                />
            </svg> -->

        <!-- email -->
        <div class="inline-flex flex-col gap-2">
          <label
            for="email"
            aria-label="email address input"
            class="text-primary-50 font-semibold"
            >Email Address</label
          >
          <input
            pInputText
            [(ngModel)]="emailInput"
            id="email"
            type="email"
            name="email"
            required
            #email="ngModel"
            class="!bg-white/20 !border-0 !p-4 !text-primary-50 w-80"
          />
        </div>

        <!-- password -->
        <div class="inline-flex flex-col gap-2">
          <label for="password" class="text-primary-50 font-semibold"
            >Password</label
          >
          <input
            pInputText
            id="password"
            class="!bg-white/20 !border-0 !p-4 !text-primary-50 w-80"
            type="password"
            [(ngModel)]="passwordInput"
            name="password"
            required
            #password="ngModel"
          />
        </div>

        <div class="flex items-center gap-4">
          <p-button
            label="Cancel"
            (click)="closeDialog()"
            [text]="true"
            styleClass="!p-4 w-full !text-primary-50 !border !border-white/30 hover:!bg-white/10"
            class="w-full"
            type="button"
          />
          <p-button
            label="Sign-In"
            [text]="true"
            styleClass="!p-4 w-full !text-primary-50 !border !border-white/30 hover:!bg-white/10"
            class="w-full"
            type="submit"
          />
        </div>
      </form>
    </ng-template>
  </p-dialog>
</div>
