<div class="flex items-center border border-secondary/20 p-4 rounded-full [&>span]:mx-2">
  <!-- location search -->
  <div>
    <label for="">Where</label>
    <input type="search" placeholder="Search for a location" />
  </div>
  <!--  -->
  <span class="w-px h-8 bg-secondary/40"></span>
  <!-- contract type -->
  <div>
    <label for="">Contract Type</label>
    <select name="" id="">
      <option value="">Rent</option>
      <option value="">Sale</option>
    </select>
  </div>
  <!--  -->
  <span></span>
</div>
