<section class="mb-10 max-w-3xl mx-auto">
  <h2 class="text-xl lg:text-2xl font-bold text-primary mb-2">
    Where is your property on map?
  </h2>
  <p class="text-secondary/70">
    Property's location will be used for search and some Lorem ipsum dolor sit
    amet consectetur.
  </p>
  <p class="text-yellow-500 bg-yellow-500/10 p-2 mt-2 text-sm rounded">
     -- Google's map API is not supported YET --
  </p>
</section>

<!-- add a dark face -->
<section class="max-w-3xl mx-auto relative rounded-xl overflow-hidden">
    <div class="w-full h-full absolute top-0 left-0 z-10 bg-black/70 flex justify-center items-center text-3xl">
        😞
    </div>
    <img src="/placeholders/google-map.png" alt="">
</section>
